<ion-view view-title="Courses">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-left item-icon-right" ng-repeat="shoplist in shoplists" type="item-text-wrap" href="#/tab/shoplists/{{shoplist._id}}">
         <i class="icon ion-bag"></i>
         <h2>{{shoplist.name}}</h2>
        <span class="badge badge-positive">{{shoplist.recipes.length}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(shoplist)">
          Supprimer
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
